<h1>Todo List</h1>

<div *ngIf="loading">Loading</div>

<ng-template [ngIf]="!loading">
  <div class="error-box" *ngIf="error">
    <p>{{error | json}}</p>
    <button *ngIf="error?.status === 0" (click)="reloadList()">Reload</button>
  </div>

  <form class="new-todo-form" (submit)="handleSubmit()" [formGroup]="newTodoForm">
    <input type="text" formControlName="title" name="newTodo" />
    <button type="submit">Add</button>
  </form>

  <ul class="todo-list" *ngIf="todos.length">
    <li *ngFor="let todo of todos">
      <input type="checkbox" [checked]="todo.completed" (input)="updateTodo(todo)" />
      {{ todo.title }}
      <button (click)="deleteTodo(todo)">Delete</button>
    </li>
  </ul>

  <div *ngIf="!todos.length">
    No todos found...
  </div>

</ng-template>