<div class="container">
  <h3>Todo List</h3>

  <app-todo-form (addTodo)="addTodo($event)"></app-todo-form>

  <app-todo-list [todos]="todos" [loading]="loading" [error]="error" (updateTodo)="updateTodo($event)" (deleteTodo)="deleteTodo($event)"></app-todo-list>

  <div class="error-box alert alert-danger" role="alert" *ngIf="!loading && error">
    <p>{{error.message}}</p>
    <button class="btn btn-primary btn-sm" *ngIf="error?.status < 200" (click)="reloadList()">Reload</button>
  </div>
</div>
