<div [hidden]="!loading"><img src="../assets/images/double-ring.svg" width="50" height="50" alt="Loading" /></div>

<ng-template [ngIf]="!loading && !error">
  <ul class="todo-list list-group" *ngIf="todos.length">
    <li class="list-group-item" [ngClass]="{ 'active': todo.completed }" *ngFor="let todo of todos">
      <div class="todo-info">
        <label for="todo-{{todo.id}}">
          <input id="todo-{{todo.id}}" type="checkbox" class="checkbox mr-3" [checked]="todo.completed" (change)="checkTodo(todo)" />
          <span *ngIf="!todo.openEditForm">{{ todo.title }}</span>
        </label>

        <app-todo-edit-form [todo]="todo" (editTodo)="editTodo($event)" (toggleEditTodo)="toggleEditTodo($event)" [openEditForm]="todo.openEditForm" *ngIf="todo.openEditForm"></app-todo-edit-form>
      </div>

      <div class="button">
        <button class="btn btn-secondary btn-sm mr-3" (click)="toggleEditTodo(todo)">{{!todo.openEditForm ? 'Edit' : 'Close'}}</button>
        <button class="btn btn-danger btn-sm" (click)="openModal(todo)">Delete</button>
      </div>
    </li>
  </ul>

  <div *ngIf="!todos.length">
    No todos found...
  </div>
</ng-template>

<app-modal-dialog [isOpenModal]="isOpenModal" [todo]="deletingTodo" (closeModal)="closeModal($event)"></app-modal-dialog>