<div *ngIf="loading"><img src="../assets/images/double-ring.svg" width="50" height="50" alt="Loading" /></div>

<ng-template [ngIf]="!loading && !error">
  <ul class="todo-list list-group" *ngIf="todos.length">
    <li class="list-group-item" *ngFor="let todo of todos">
      <div class="todo-info">
        <label for="todo-{{todo.id}}">
          <input id="todo-{{todo.id}}" type="checkbox" class="checkbox mr-3" [checked]="todo.completed" (input)="handleUpdateTodo(todo)" />
          <span *ngIf="!openEditForm">{{ todo.title }}</span>
        </label>

        <form class="edit-form form-inline" *ngIf="openEditForm" (submit)="handleEditTodo(todo)" [formGroup]="todoForm">
          <input type="text" class="form-control form-control-sm mr-3" formControlName="title" [value]="todo.title" />
          <button type="submit" class="btn btn-primary btn-sm">Edit</button>
        </form>
      </div>

      <div class="button">
        <button class="btn btn-primary btn-sm" (click)="toggleEditTodo()">{{!openEditForm ? 'Edit' : 'Close'}}</button>
        <button class="btn btn-primary btn-sm" (click)="handleDeleteTodo(todo)">Delete</button>
      </div>
    </li>
  </ul>

  <div *ngIf="!todos.length">
    No todos found...
  </div>
</ng-template>
