<div [hidden]="!loading"><img src="../assets/images/double-ring.svg" width="50" height="50" alt="Loading" /></div>

<ng-template [ngIf]="!loading && !error">
  <ul class="todo-list list-group" *ngIf="todos.length">
    <li class="list-group-item app-todo-list-item" [ngClass]="{ 'active': todo.completed }" *ngFor="let todo of todos" [todo]="todo" (editTodo)="editTodo($event)" (toggleEditTodo)="toggleEditTodo($event)"
      (deleteTodo)="handleDeleteTodo($event)">
    </li>
  </ul>

  <div *ngIf="!todos.length">
    No todos found...
  </div>
</ng-template>

<app-modal-dialog [isOpenModal]="isOpenModal" [todo]="deletingTodo" (closeModal)="closeModal($event)"></app-modal-dialog>
